<form> 
    <input type="number" [(ngModel)]="num1" name="num1" > 
    <input type="number" [(ngModel)]="num" name="num2">
    <button (click)="onClickSum()">Somar</button>
    <button (click)="onClickSub()">Subtrair</button>
    <button (click)="onClickMult()">Multiplicar</button>
    <button (click)="onClickDiv()">Dividir</button>
    <button (click)="onClickPot()">Potência</button>
    <button (click)="onClickMed()">Média Entre os Números</button>
    <label>{{result}}</label> 
    
 </form>
